  
{% extends "base.html" %}

{% block main %}
 
    <br>
    <h1 class="display-4">Hello!</h1>
    <p class="lead">Here you can find different statistcs on images<br>
        type in <b>"/stats"</b> in the url <br>
        followed by <b>"/"</b> and the image you wish to learn about <br>
        and another <b>"/"</b>  with the information you would like to find out<br>
        you can choose between: <br>
        min - max - mean - median - pXXX (XXX is a percentile between 0...100) 
        <br>
        <br>
        Or just go to images ;)
    </p>
    <p class="aligncenter">
        <img src="/static/hello.jpg" alt="centered image"  />
    </p>
    {% endblock %}